go 1.20

use (
	./example/client
	./example/etcd_init
	./example/playground
	./example/proto
	./example/server
	./example/server_etcd
	./example/server_etcd_init
	./petcd
	./petcd_gui
	./phelp
	./plog
	./pnet
	./ptime
)
